{% include './cabecera_index.html' %} 
{% block estiloCSS %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/estilo_formulario.css') }}" />
{% endblock %}

<div class="container mt-3 pb-5 pt-5 contenedor_cte" >

    <div class="row ">
        <div class="offset-md-2 col-md-8  ">
            <input type="search" class="form-control" id="search" placeholder="Tecle Palabra clave a buscar Clave Nombre Producto...">
        </div>
    </div>

    <h3 id="error" class="text-center mt-3"></h3>

    <div class="row ">
        <div class="col-md-12 ">
            
            <div class="table-responsive">
                <table class="table table-bordered border-primary table-hover table-striped mt-3 text-capitalize display" id="mytable" style="font-size: 12px;">
                </table>
            </div>
        </div>
    </div>
</div>


{% include './pie_index.html' %} 
{% block jscript %}
<script src="{{ url_for('static', filename='drivers/ajax.googleapis.jquery3.5.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/lista_datable_mostrador.js')}}"></script> 
{% endblock %}