{% include './cabecera_index.html' %}

<div class="container-fluid">

    <div class="row mt-2" >
        <div class="col-md-3"></div>
        <div class="col-md-6 " >
            <div class="card " >
                <div class="card-header text-primary "><strong>Informacion del Usuario a Modificar (id = {{ contacto[0] }})</strong></div>
                <div class="card-body">
                    <strong><i class="bi bi-info-circle"></i> Usuario a Modificar: </strong>{{ contacto[1] }}
                    <br>
                    <form class="row mt-2 g-3 needs-validation" action="/catalogo/usuarios/modificar/{{ contacto[0] }}"
                        method="POST" novalidate>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


                        <div class="col-md-12 ">
                            <label for="txtNombre" class="form-label bold-400">Nombre Completo</label>
                            <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                                value="{{ contacto[3] }}" placeholder="Ingrese su Nombre por favor..." required
                                maxlength="250">
                            <div class="invalid-feedback">
                                Ingresa Nombre Completo por favor...
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="txtDireccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="txtDireccion" name="txtDireccion"
                                value="{{ contacto[4] }}" placeholder="Ingrese su Direccion por favor..." required
                                maxlength="250">
                            <div class="invalid-feedback">
                                Ingrese su Direccion por favor....
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label for="txtNivel" class="form-label">Nivel de Usuario</label>
                            <select class="form-select" id="txtNivel" name="txtNivel" required>
                                <!-- <option selected disabled value="">Seleccione una opcion...</option> -->
                                <!-- <option selected disabled value="{{ contacto[5] }}">{{ contacto[5] }}</option> -->
                                {% for nivel in lista_nivel %}
                                {% if nivel[1] == contacto[5] %}
                                <option value="{{nivel[1]}}" selected>{{nivel[1]}}</option>
                                {% else %}
                                <option value="{{ nivel[1] }}">{{ nivel[1] }}</option>
                                {% endif %}
                                {% endfor %}
                               
                            </select>
                            <div class="invalid-feedback">
                                Por favor seleccione una opcion para el Nivel.
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label for="txtPuesto" class="form-label">Puesto de Trabajo</label>
                            <select class="form-select" id="txtPuesto" name="txtPuesto" required>
                                <!-- <option selected disabled value="{{ contacto[6] }}">{{ contacto[6] }}</option> -->
                                {% for puesto in lista_puesto %}
                                {% if puesto[1] == contacto[6] %}
                                <option value="{{ puesto[1] }}" selected>{{ puesto[1]}}</option>    
                                {% else%}
                                <option value="{{ puesto[1] }}">{{ puesto[1]}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Por favor seleccione una puesto de trabajo.
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label for="txtFechaNac" class="form-label">Fecha Nacimiento</label>
                            <input type="date" class="form-control" id="txtFechaNac" name="txtFechaNac"
                                value="{{ contacto[7] }}" placeholder="Ingrese su Direccion por favor..." required>
                            <div class="invalid-feedback">
                                Ingrese su Fecha de Nacimiento por favor....
                            </div>
                        </div>

                        <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                            <!-- <button class="btn btn-primary" type="submit">Submit form</button> -->
                            <!-- <button type="button" class="btn btn-danger" ><i class="bi bi-x-circle"></i>
                                Regresar
                            </button> -->
                            <a name="" id="" class="btn btn-danger" href="#" onclick="history.go(-1)" role="button"><i class="bi bi-chevron-double-left"></i> Regresar</a>
                            <button type="submit" class="btn btn-primary"> <i class="bi bi-floppy"></i> Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


{% include './pie_index.html' %}